upstream backend {
{{- range service "app" }}
  server {{ .Address }}:{{ .Port }};
{{- end }}
}

server {
   listen 80;

   location / {
      proxy_pass http://backend;
      proxy_pass_request_headers on;
   }
}
